// Site-wide colors
$splash: #6DF7A5;
$background: white;

// Input colors
$input-background: #F9F9F9;

// Grays
$light-gray: #CCCCCC;
$dark-gray: #979797;

// Notifications
$info: #22CBEC;
$success: #45ED8A;
$error: #F32B1B;
$failure: $error;

// Fonts
$lato: "Lato", Helvetica, sans-serif;
$font: $lato;
