<div class="sessions-container">
  <form>
    <div class="title">Authentication</div>
    <div class="input-group">
      {{input name=access_token placeholder="Access Token"}}
    </div>
    <button type="submit">Sign in &rsaquo;</button>
  </form>
</div>
