<div class="sessions-container">
  <form>
    <div class="title">Authentication</div>
    <div class="input-group">
      {{input value=credentials placeholder="Credentials" }}
    </div>
    <button type="submit" {{action 'authenticate'}}>Sign in &rsaquo;</button>
  </form>
</div>
